body{
    background-color:black;
}
div{
    position:absolute;
    top: 10%;
    left: 35%;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(255, 250, 240);
    width:550px;
    height:750px;
    padding: 1px 30px 30px;
    font-size:small;
}
a{
    text-decoration: none;
    color:yellowgreen;
}